.business-cont {
  background-image: url("../images/Saass3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  height: 100vh;
  margin: 100px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 300px; */
}
.business-cont h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 60px;
  /* identical to box height, or 143% */

  letter-spacing: -0.03em;

  color: #130b46;
}
.main-p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* or 150% */
  width: 450px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #64607d;
}
.business-card-cont {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.business-card-cont div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  border-radius: 20px;
  /* border: 1px solid #130b46; */
  background-color: white;
  padding: 35px;
  margin: 10px;
}
.business-card-cont div img {
  width: 32px;
  height: 32px;
}
.business-card-cont div h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 60px;
  /* identical to box height, or 250% */

  letter-spacing: -0.03em;

  color: #16012c;
}
.business-card-cont div p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  /* or 188% */
  text-align: start;
  letter-spacing: -0.02em;

  color: #64607d;
}
.business-card-cont div a {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 100% */

  color: #000000;
}
