@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7rem;
}

.btn {
  width: 10rem;
  height: 4rem;
  background-color: #f4f4f4;
  color: #1e1e1e;
  font-size: 1.8rem;
  border: 0px;
  border-radius: 28px;
  /* padding: 8px 16px; */
}

.btn:hover {
  background-color: #e9e2e2;
  cursor: pointer;
}

.btn-hero {
  width: 150px;
  height: 5rem;
  padding: 10px;
  font-size: 1.8rem;
  background: #130b46;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  /* font-size: 20px; */
  line-height: 24px;
  border: 0px;
  transition: 0.5s;

  color: #ffffff;
}
.btn-hero:hover {
  cursor: pointer;
  background-color: white;
  color: #130b46;
  border: 0.5px solid #130b46;
}

.submit {
  width: 500px;
}
.btn1 {
  background: #ff7f5c;
  border-radius: 10px;
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: 0px;
  width: 210px;
  padding: 10px 15px 10px 15px;
  transition: 0.5s;
}
.btn1:hover {
  cursor: pointer;
  background-color: white;
  color: #ff7f5c;
}
