.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a052c;
  margin-top: 5rem;
  padding: 30px 0px;
}
.para {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.231818px;
  opacity: 0.5;
  color: #ffffff;
}
.footer-cont h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.436364px;

  color: #ffffff;
}
.footer-cont ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-cont ul li {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */
  margin: 20px;
  letter-spacing: -0.204545px;

  color: #ffffff;
}
.footer-cont ul li:hover {
  cursor: pointer;
  opacity: 0.5;
}
.copyright {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: -0.204545px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
