.ratecard-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #130b46;
  border-radius: 20px;
  width: 390px;
  padding: 10px;
}

.ratecard-cont h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.ratecard-cont p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 164.02%;
  margin-top: 10px;
  /* or 30px */

  text-align: center;
  width: 290px;

  color: #000000;
}
