.service-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem 3rem 0rem;
}
.service-first-cont {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: start;
  padding: 30px;
}
.service-first-cont h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 61px;
  text-align: start;
  color: #130b46;
}
.service-first-cont p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* or 145% */
  text-align: start;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin: 20px 0px 20px 0px;
  color: #323b71;
}

.service-second-cont {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.service img {
  width: 60px;
  height: 60px;
}
.service h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  /* or 145% */
  text-align: start;
  margin-left: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;

  color: #323b71;
}
